body {
    background-color: #D3D6DD;
}

h1 {
    color: #000000;
    font-size: 64px;
    text-align: center;
}

h2 {
    color: #000000;
    font-size: 48px;
}

p {
    color: #000000;
    font-size: 30px;
}

nav {
    background-color: #024F73;
    height: 62px;
}

footer {
    color: #FFFFFF;
    font-size: 25px;
    background-color: #02734A;  
    height: 62px;
    margin-top: 100px;
}

nav a {
    color: #FFFFFF;
    font-size: 32px;
    margin-left: 20%;
}

nav a:hover {
    background-color: #FFFFFF;
    color: #000000;
}
